body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cabecalho {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}

.menu {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: #2c3e50;
    background-color: #ecf0f1;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #85c1e9;
    color: white;
}

body{

    text-align: center;
}

.cinza{

color: grey;
}